In [ ]:
## Hence, the map() is used to transform data in a list comprehensively

In [1]:
def square(x):
    return x*x
square(10)

100

In [3]:
numbers = [1,2,3,4,5,6,7,8]
map(square,numbers)

In [5]:
list[map(square,numbers)]

list[<map object at 0x000001A07A2163B0>]

In [7]:
# Now in order to see the output,
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [9]:
## Lambda function with map
numbers = [1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [13]:
# But can we map multiple iterables?
numbers1=[1,2,3]
numbers2=[4,5,6]
# What we want to do now is to take each and every element, and add both of them,
# making our result to be [5,7,9].
# Can we do this by mapping multiple iterables?
add_numbers= list(map(lambda x,y:x+y,numbers1,numbers2))

print(add_numbers)

[5, 7, 9]

In [15]:
# Hence, from the above demonstration, there are multiple things we can do with
# map.

# Below is an example now of map converting a list of strings into integers.
str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))

print(int_numbers) # Output: [1, 2, 3, 4, 5]. Hence, this demonstrates 'typecasting'
                   # (i.e, converting a value of one data type to another).

[1, 2, 3, 4, 5]

In [19]:
words=["apple","banana","cherry"]
upper_word=list(map(str.upper,words))

print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [23]:
def get_name(person):
    return person['name']

# But if I have but a list of dictionaries,
people =[
    {'name': 'Salle', 'age':24},
    {'name': 'Krish', 'age':32}
]
list(map(get_name,people))

['Salle', 'Krish']